# Copier vers .env et renseigner les valeurs réelles
NODE_ENV=development
PORT=3001
API_PREFIX=/api

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/etafakna_billing?schema=public"

JWT_SECRET="change-me-use-at-least-32-characters-long-secret"
JWT_EXPIRES_IN=7d

ALLOWED_ORIGINS=http://localhost:5173

LOG_LEVEL=info
